<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="My_Conways_Game_Of_Life.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <My_Conways_Game_Of_Life.Properties.Settings>
            <setting name="BackgroundColorSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="Universe_Width" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Universe_hight" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Timer_Defualt" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TimerDefualt" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WidthDefualt" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="HightDefualt" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CellColor" serializeAs="String">
                <value>192, 0, 0</value>
            </setting>
            <setting name="GridColor" serializeAs="String">
                <value>Black</value>
            </setting>
        </My_Conways_Game_Of_Life.Properties.Settings>
    </userSettings>
</configuration>